<header class="top-header">
  <div class="header-container">
    <div class="header-logo">
      <a href="{{ '/' | relative_url }}"><img src="https://nebulit.de/assets/nebulit.png" alt="nebulit" style="height: 56px; vertical-align: middle;"></a>
    </div>

    <nav class="header-nav">
      <ul class="header-menu">
        <li>
          <a href="{{ '/use-cases' | relative_url }}"
             {% if page.url == '/use-cases/' or page.url == '/use-cases.html' %}class="active"{% endif %}>
            Use Cases
          </a>
        </li>
        <li>
          <a href="{{ '/cheatsheet' | relative_url }}"
             {% if page.url == '/cheatsheet/' or page.url == '/cheatsheet.html' %}class="active"{% endif %}>
            Cheat Sheet
          </a>
        </li>
        <li>
          <a href="{{ '/workshops' | relative_url }}"
             {% if page.url == '/workshops/' or page.url == '/workshops.html' %}class="active"{% endif %}>
            Workshops
          </a>
        </li>
        <li>
          <a href="{{ '/docs/blog' | relative_url }}"
             {% if page.url == '/docs/blog/' or page.url == '/docs/blog.html' %}class="active"{% endif %}>
            Blog
          </a>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/videos' | relative_url }}"
             {% if page.url == '/docs/basic-modeling-topics/videos' or page.url == ' /docs/basic-modeling-topics/videos.html' %}class="active"{% endif %}>
            Videos
          </a>
        </li>
        <li>
          <a href="{{ '/docs/podcast' | relative_url }}"
             {% if page.url == '/docs/podcast/' or page.url == '/docs/podcast.html' or page.url contains '/docs/podcast/' %}class="active"{% endif %}>
            Podcast
          </a>
        </li>
        <li>
          <a href="/eventmodeling-book" target="_blank" rel="noopener noreferrer">
            The Book
          </a>
        </li>
        <li>
          <a href="https://newsletter.nebulit.de" target="_blank" rel="noopener noreferrer">
            Newsletter
          </a>
        </li>
      </ul>
      <button class="mobile-menu-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </div>
</header>
