<nav class="sidebar">
  <div class="sidebar-header">
    <h2>{{ site.title }}</h2>
    <a href="{{ '/' | relative_url }}">← Back to Home</a>
  </div>

  <ul class="nav-menu">

    <li>
      <a href="{{ '/docs/event-modeling' | relative_url }}"
         {% if page.url == '/docs/event-modeling/' or page.url == '/docs/event-modeling.html' %}class="active"{% endif %}>
        Event Modeling
      </a>
    </li>

      <li>
          <a href="{{ '/docs/setup' | relative_url }}"
             {% if page.url == '/docs/setup/' or page.url == '/docs/setup.html' %}class="active"{% endif %}>
          Setup
          </a>
      </li>
      <li>
          <a href="{{ '/docs/how_to_get_a_license' | relative_url }}"
             {% if page.url == '/docs/how_to_get_a_license' or page.url == '/docs/how_to_get_a_license.html' %}class="active"{% endif %}>
          How to get a License
          </a>
      </li>
      <li>
          <a href="{{ '/docs/event-modeling-tutorial' | relative_url }}"
             {% if page.url == '/docs/event-modeling-tutorial/' or page.url == '/docs/event-modeling-tutorial.html' %}class="active"{% endif %}>
          The Step by Step Tutorial
          </a>
      </li>
    <li>
      <a href="{{ '/docs/basic-modeling' | relative_url }}"
         {% if page.url contains '/docs/basic-modeling' %}class="active"{% endif %}>
        Event Modeling Toolkit
      </a>
      <ul class="nav-submenu">
        <li>
          <a href="{{ '/docs/basic-modeling-topics/overview' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/overview' %}class="active"{% endif %}>
            Overview Tab
          </a>
          <ul class="nav-submenu">
            <li>
              <a href="{{ '/docs/basic-modeling-topics/ai-overview' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/ai-overview' %}class="active"{% endif %}>
                AI Configuration
              </a>
            </li>
            <li>
              <a href="{{ '/docs/basic-modeling-topics/ai-view' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/ai-view' %}class="active"{% endif %}>
                AI Chat View
              </a>
            </li>
            <li>
              <a href="{{ '/docs/basic-modeling-topics/context-view' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/context-view' %}class="active"{% endif %}>
                Context View
              </a>
            </li>
            <li>
              <a href="{{ '/docs/basic-modeling-topics/aggregate-view' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/aggregate-view' %}class="active"{% endif %}>
                Aggregate View
              </a>
            </li>
            <li>
              <a href="{{ '/docs/basic-modeling-topics/data-trail-view' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/data-trail-view' %}class="active"{% endif %}>
                Data Trail View
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/elements-view' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/elements-view' %}class="active"{% endif %}>
            Elements Tab
          </a>
            <ul class="nav-submenu">
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/drawing' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/drawing' %}class="active"{% endif %}>
                    Screen Drawing
                    </a>
                </li>
            </ul>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/data-view' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/data-view' %}class="active"{% endif %}>
            Data View
          </a>
            <ul class="nav-submenu">
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/information_completeness' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/information_completeness' %}class="active"{% endif %}>
                    Information Completeness
                    </a>
                </li>
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/multi-select' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/multi-select' %}class="active"{% endif %}>
                    Copying Data
                    </a>
                </li>
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/manual-editing' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/manual-editing' %}class="active"{% endif %}>
                    Manual Editing
                    </a>
                </li>
            </ul>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/slice-view' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/slice-view' %}class="active"{% endif %}>
            Slice View
          </a>
            <ul class="nav-submenu">
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/jira-integration' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/jira-integration' %}class="active"{% endif %}>
                    Jira Integration
                    </a>
                </li>
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/extending-an-existing-model-with-ai' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/extending-an-existing-model-with-ai' %}class="active"{% endif %}>
                    Using AI to extend the Model
                    </a>
                </li>
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/slice-based-forecasting' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/slice-based-forecasting' %}class="active"{% endif %}>
                    Slice-based Forecasting
                    </a>
                </li>
            </ul>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/spec-view' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/spec-view' %}class="active"{% endif %}>
            Spec Tab
          </a>
        </li>
        <li>
          <a href="{{ '/docs/basic-modeling-topics/code-view' | relative_url }}"
             {% if page.url contains '/docs/basic-modeling-topics/code-view' %}class="active"{% endif %}>
            Code Tab
          </a>
            <ul class="nav-submenu">
                <li>
                    <a href="{{ '/docs/basic-modeling-topics/narrative-mode' | relative_url }}"
                       {% if page.url contains '/docs/basic-modeling-topics/narrative-mode' %}class="active"{% endif %}>
                    Narrative Mode
                    </a>
                </li>
            </ul>
        </li>
          <li>
              <a href="{{ '/docs/basic-modeling-topics/real-time-prototyping' | relative_url }}"
                 {% if page.url contains '/docs/basic-modeling-topics/real-time-prototyping' %}class="active"{% endif %}>
              Real Time Prototyping
              </a>
          </li>
      </ul>
    </li>
    <li>
      <a href="{{ '/docs/code-generator' | relative_url }}"
         {% if page.url contains '/docs/code-generator' %}class="active"{% endif %}>
        Build Your Own Code Generator
      </a>
    </li>
    <li>
      <a href="{{ '/eventmodeling-book' | relative_url }}"
         {% if page.url == '/eventmodeling-book/' or page.url == '/eventmodeling-book.html' %}class="active"{% endif %}>
        The Book
      </a>
    </li>
    <li>
      <a href="{{ '/docs/basic-modeling-topics/videos' | relative_url }}"
         {% if page.url contains '/docs/basic-modeling-topics/videos' %}class="active"{% endif %}>
        Videos
      </a>
    </li>
    <li>
      <a href="https://www.nebulit.de/en/eventmodeling-workshop" target="_blank" rel="noopener noreferrer">
        Training
      </a>
    </li>
    <li>
      <a href="https://www.nebulit.de/en/accelerate" target="_blank" rel="noopener noreferrer">
        Enterprise Support
      </a>
    </li>
    <li>
      <a href="{{ '/docs/blog' | relative_url }}"
         {% if page.url == '/docs/blog/' or page.url == '/docs/blog.html' %}class="active"{% endif %}>
        Blog
      </a>
    </li>
    <li>
      <a href="{{ '/docs/podcast' | relative_url }}"
         {% if page.url == '/docs/podcast/' or page.url == '/docs/podcast.html' or page.url contains '/docs/podcast/' %}class="active"{% endif %}>
        Podcast
      </a>
    </li>
    <li>
      <a href="#"
         {% if page.url contains '/docs/eventsourcing-faq' or page.url contains '/docs/eventmodeling-faq' %}class="active"{% endif %}>
        FAQ
      </a>
      <ul class="nav-submenu">
        <li>
          <a href="{{ '/docs/eventsourcing-faq' | relative_url }}"
             {% if page.url contains '/docs/eventsourcing-faq' %}class="active"{% endif %}>
            Event Sourcing FAQ
          </a>
        </li>
        <li>
          <a href="{{ '/docs/eventmodeling-faq' | relative_url }}"
             {% if page.url contains '/docs/eventmodeling-faq' %}class="active"{% endif %}>
            Event Modeling FAQ
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
